@model TicariOtomasyon.Models.Siniflar.Cariler

@{
    ViewBag.Title = "CariGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />

<h2>Cari Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("CariGuncelle", "Cari", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.CariAd)
        @Html.TextBoxFor(x => x.CariAd, new { @class = "form-control" })
        @Html.LabelFor(x => x.CariSoyad)
        @Html.TextBoxFor(x => x.CariSoyad, new { @class = "form-control" })
        @Html.LabelFor(x => x.CariSehir)
        @Html.TextBoxFor(x => x.CariSehir, new { @class = "form-control" })
        @Html.LabelFor(x => x.CariMail)
        @Html.TextBoxFor(x => x.CariMail, new { @class = "form-control" })
        @Html.HiddenFor(x => x.CariID)
    </div>
    <button class="btn btn-info"><i class="fa fa-undo"></i> Güncelle</button>
}

