@using TicariOtomasyon.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2 style="margin-top:20px">PERSONELLER</h2>

<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Görsel</th>
            <th>Departman</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    @foreach (var m in Model)
    {
        <tr>

            <td>@m.PersonelID</td>
            <td>@m.PersonelAd</td>
            <td>@m.PersonelSoyad</td>
            <td><img src="@m.PersonelGorsel"/> </td>
            <td>@m.Departman.DepartmanAd</td>
            <td>
                <a href="/Personel/PersonelSil/@m.PersonelID" class="btn btn-danger"><i class="fa fa-trash"></i> Sil</a>
                <a href="/Personel/PersonelGetir/@m.PersonelID" class="btn btn-warning"><i class="fa fa-undo"></i> Güncelle</a>
                <a href="/Departman/DepartmanPersonelSatis/@m.PersonelID" class="btn btn-info"><i class="fa fa-info-circle"></i> Satış Detayı</a>
            </td>
        </tr>

    }
</table>
<br />
<br />
<a href="/Personel/PersonelEkle" class="btn btn-primary"><i class="fa fa-plus"></i> Personel Ekle</a>
<a href="/Personel/PersonelListesi" class="btn btn-info"><i class="fa fa-print"></i> Yazdır</a>

<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

<script>
    $('#tbl1').dataTable({});

</script>