@model TicariOtomasyon.Models.Siniflar.Personel

@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>PERSONEL EKLEME SAYFASI</h2>
<br />
<form class="form-group" action="/Personel/PersonelEkle" method="post">
    @Html.Label("Ad:")
    @Html.TextBoxFor(x => x.PersonelAd, new { @class = "form-control" })
    <br />
    @Html.Label("Soyad:")
    @Html.TextBoxFor(x => x.PersonelSoyad, new { @class = "form-control" })
    <br />
    @Html.Label("Görsel:")
    @Html.TextBoxFor(x => x.PersonelGorsel, new { @class = "form-control" })
    <br />
    @Html.Label("Departman:")
    @Html.DropDownListFor(x => x.DepartmanID, (List<SelectListItem>)ViewBag.dprtmn, new { @class = "form-control" })
    <br />
    <button class="btn btn-info"><i class="fa fa-plus"></i> Ekle</button>
</form>