@using TicariOtomasyon.Models.Siniflar
@model List<SatisHaraket>

@{
    ViewBag.Title = "SatisDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Satış Detayı</h2>
<br />


<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Cari</th>
        <th>Personel</th>
        <th>Ürün</th>
        <th>Adet</th>
        <th>Fiyat</th>
        <th>Toplam Tutar</th>
        <th>Tarih</th>

    </tr>
    @foreach (var m in Model)
    {
        <tr>
            <td>@m.SatisID</td>
            <td>@m.Cariler.CariAd @m.Cariler.CariSoyad</td>
            <td>@m.Personel.PersonelAd @m.Personel.PersonelSoyad</td>
            <td>@m.Urun.UrunAd</td>
            <td>@m.Adet</td>
            <td>@m.Fiyat</td>
            <td>@m.ToplamTutar</td>
            <td>@m.Tarih.ToShortDateString()</td>
        </tr>
    }
</table>
